name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build image
        run: docker build -t jejey333/demo-devops .

      - name: Tag image
        run: docker tag jejey333/demo-devops:latest jejey333/demo-devops:latest

      - name: Push image
        run: docker push jejey333/demo-devops:latest
